<div class="mainmenu-wrapper">
    <div class="container">
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="index.html"><img src="assets/images/gosaLogo.png" class="cs-navbarlogo" alt="Multipurpose Twitter Bootstrap Template"></a></li>
                <li class="nav-item" routerLinkActive="active" ><a class="nav-link" routerLink="home" >Home</a></li>
                <li class="nav-item" routerLinkActive="active" ><a class="nav-link" routerLink="news" >News</a></li>
                <li class="nav-item" routerLinkActive="active" ><a class="nav-link" routerLink="about" >About Us</a></li>
                <li class="nav-item"  ><a class="nav-link" (click)="openForumLink()">Forum</a></li>
            </ul>
        </nav>
    </div>
</div>
