<!-- Homepage Slider -->
<div class="homepage-slider">
    <div id="sequence">
        <ul class="sequence-canvas">
            <!-- Slide 1 -->
            <li class="cs-bg2">
                <!-- Slide Title -->
                <h2 class="title">Responsible Gun Ownership</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">If you are a South African who lawfully
                owns a firearm, you are us... and we are you.</h3>
                <!-- Slide Image -->
                <!--<img class="slide-img" src="assets/img/homepage-slider/slide1.png" alt="Slide 1" />-->
            </li>
            <!-- End Slide 1 -->
            <!-- Slide 2 -->
            <li class="cs-bg1">
                <!-- Slide Title -->
                <h2 class="title">Responsible Gun Ownership</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">If you are a South African who lawfully
                    owns a firearm, you are us... and we are you.</h3>
                <!-- Slide Image -->
                <!--<img class="slide-img" src="assets/img/homepage-slider/slide1.png" alt="Slide 1" />-->
            </li>
            <!-- End Slide 2 -->
            <!-- Slide 3 -->
            <li class="cs-bg3">
                <!-- Slide Title -->
                <h2 class="title">Responsible Gun Ownership</h2>
                <!-- Slide Text -->
                <h3 class="subtitle">If you are a South African who lawfully
                    owns a firearm, you are us... and we are you.</h3>
                <!-- Slide Image -->
                <!--<img class="slide-img" src="assets/img/homepage-slider/slide1.png" alt="Slide 1" />-->
            </li>
            <!-- End Slide 3 -->
        </ul>
        <div class="sequence-pagination-wrapper">
            <ul class="sequence-pagination">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Homepage Slider -->
