<app-main-slider></app-main-slider>

<!-- Press Coverage -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="in-press">
                    <a href="#">"Any man who is a man may not, in honor, submit to threats or violence.
                        But many men who are not cowards are simply unprepared for the fact of human savagery." -- Jeff Cooper</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press">
                    <a href="#">"Most men do not desire liberty; most only wish for a master that doesn't beat them." -- Sallust 86-34BC.</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press">
                    <a href="#">"God grants liberty only to those who love it, and are always ready to guard and defend it." -- Daniel Webster</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Press Coverage -->


<!-- Main Blurb with Video -->
<div class="section section-parallax-1">
    <div class="container fullheight">
        <div class="center-me">
            <h1 class="text-center white-header">
                Become a member today!
            </h1>
            <div class="calltoaction-wrapper">
                <a class="btn btn-orange cs-pointer btn-signup">Sign Up</a>
            </div>
        </div>
    </div>
</div>



<!--Latest News-->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Featured News -->
            <div class="col-sm-6 featured-news">
                <h2>Featured News</h2>
                <div class="row">
                    <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="assets/img/news1.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">Anual Report</a></div>
                        <div class="date">16 May 2013 </div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="assets/img/news2.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="assets/img/news3.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">Even More News</a></div>
                        <div class="date">05 May 2013 </div>
                        <div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
            </div>
            <!-- End Featured News -->
            <!-- Latest News -->
            <div class="col-sm-6 latest-news">
                <h2>Latest News</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">Anual Report</a></div>
                        <div class="date">16 May 2013 </div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
            </div>
            <!-- End Featured News -->
        </div>
    </div>
</div>
