<app-main-slider></app-main-slider>

<!-- Press Coverage -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="in-press press-wired">
                    <a href="#">"Most men do not desire liberty; most only wish for a master that doesn't beat them." -- Sallust 86-34BC.</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press press-mashable">
                    <a href="#">"God grants liberty only to those who love it, and are always ready to guard and defend it." -- Daniel Webster</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="in-press press-techcrunch">
                    <a href="#">"Any man who is a man may not, in honor, submit to threats or violence.
                        But many men who are not cowards are simply unprepared for the fact of human savagery." -- Jeff Cooper</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Press Coverage -->


<!-- Main Blurb with Video -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>We are Gun Owners of South Africa</h3>
                <p>
                    <span class="cs-bold">Jono, please replace this text.</span> Donec elementum mi vitae enim fermentum lobortis. In hac habitasse platea dictumst. Ut pellentesque,
                    orci sed mattis consequat, libero ante lacinia arcu, ac porta lacus urna in lorem.
                    Praesent consectetur tristique augue, eget elementum diam suscipit id.
                </p>
                <h3>Wide range of services</h3>
                <p>
                    Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Nam condimentum laoreet sagittis. Duis quis ullamcorper leo.
                    Suspendisse potenti.
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-wrapper">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action Bar -->
<div class="section section-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="calltoaction-wrapper">
                    <h3>It's a free multipurpose Bootstrap 3 template!</h3> <a href="http://www.dragdropsite.com" class="btn btn-orange">Download here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Bar -->

<!--Latest News-->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Featured News -->
            <div class="col-sm-6 featured-news">
                <h2>Featured News</h2>
                <div class="row">
                    <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="assets/img/news1.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">Anual Report</a></div>
                        <div class="date">16 May 2013 </div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="assets/img/news2.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4"><a href="page-blog-post-right-sidebar.html"><img src="assets/img/news3.jpg" alt="Post Title"></a></div>
                    <div class="col-xs-8">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">Even More News</a></div>
                        <div class="date">05 May 2013 </div>
                        <div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
            </div>
            <!-- End Featured News -->
            <!-- Latest News -->
            <div class="col-sm-6 latest-news">
                <h2>Latest News</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">Anual Report</a></div>
                        <div class="date">16 May 2013 </div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="caption"><a href="page-blog-post-right-sidebar.html">New Career Oportunities</a></div>
                        <div class="date">14 May 2013 </div>
                        <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="page-blog-post-right-sidebar.html">Read more...</a></div>
                    </div>
                </div>
            </div>
            <!-- End Featured News -->
        </div>
    </div>
</div>
